{% load staticfiles %}
{% block css %}
    <link rel="stylesheet"
          href="{% static 'core/css/authorization.css' %}">
{% endblock %}
<div class="container">
    <form action="{% url 'consumer-authorization' %}" method="post">
    {% csrf_token %}
        <label>
            Логін
        </label>
    <input type="text" name="username" placeholder="username">
        <label>
            Пароль
        </label>
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Увійти">
</form>
</div>

