<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title>{% block title %}Granny's foods{% endblock %}</title>
    {% block css %}{% endblock %}
    <script type="text/javascript" src="{% static 'core/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/knockout-3.5.0rc2.js' %}"></script>
    {% block js %}{% endblock %}
</head>
<body>
<form action="#">
    {% csrf_token %}
    <input type="text" placeholder="Знайти товар">
    <input type="submit" value="Шукати">
</form>
{% block content %}
{% endblock %}

</body>
</html>