{% extends 'core/base.html' %}
{% load staticfiles %}
{% block title %}Відділи{% endblock %}
{% block css %}
    <link rel="stylesheet"
          href="{% static 'core/css/departments.css' %}">
{% endblock %}
{% block js %}
    <script type="text/javascript"
            src="{% static 'core/js/departments.js' %}"></script>
{% endblock %}
{% block content %}
    <div>{{ user }}</div>

    <div id="menu">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)"
                   class="dropbtn">Dropdown</a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="store">
    <button data-bind="click:undo, visible: !showDepartments()" >undo</button>
    <button data-bind="click:redo, visible: (showDepartments() && groupOfProducts().length>0) || (showGroupOfProducts() && products().length>0)" >redo</button>
        <div class="row"
             data-bind="foreach: departments, visible:showDepartments">
            <div class="column">
                <div class="container"
                     data-bind="click: $parent.uploadItems">
                    <div class="img-wrap">
                        <img data-bind="attr:{src:picture}">
                    </div>
                    <div class="text-block">
                        <p data-bind="text:name"></p>
                    </div>

                </div>
            </div>
        </div>
        <div class="row"
             data-bind="foreach: groupOfProducts, visible:showGroupOfProducts">
            <div class="column">
                <div class="container"
                     data-bind="click: $parent.uploadItems">
                    <div class="img-wrap">
                        <img data-bind="attr:{src:picture}">
                    </div>
                    <div class="text-block">
                        <p data-bind="text:name"></p>
                    </div>

                </div>
            </div>
        </div>
        <div class="row"
             data-bind="foreach: products, visible:showProducts">
            <div class="column">
                <div class="container"
                     data-bind="click: $parent.uploadItems">
                    <div class="img-wrap">
                        <img data-bind="attr:{src:picture}">
                    </div>
                    <div class="text-block">
                        <p data-bind="text:name"></p>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}